<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".Adapters.TapidoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/easyrideicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/easyrideicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyRide"
        tools:targetApi="31">
        <activity
            android:name=".UIScreens.TestScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_test_screen"
            android:theme="@style/Theme.EasyRide" />
        <activity
            android:name=".UIScreens.CameraActivity"
            android:exported="false"
            android:label="@string/title_activity_camera"
            android:theme="@style/Theme.EasyRide.appcompact" />
        <activity
            android:name=".UIScreens.ProfileDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_profile_details"
            android:theme="@style/Theme.EasyRide" />
        <activity
            android:name=".UIScreens.SocialDocument"
            android:exported="false"
            android:label="@string/title_activity_social_document"
            android:theme="@style/Theme.EasyRide" />
        <activity
            android:name=".UIScreens.AddCarDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_add_car_details"
            android:theme="@style/Theme.EasyRide" />
        <activity
            android:name=".TodoActivity"
            android:exported="false"
            android:label="@string/title_activity_todo"
            android:theme="@style/Theme.EasyRide" />
        <activity
            android:name=".UIScreens.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.EasyRide" />
        <activity
            android:name=".UIScreens.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".UIScreens.RootActivity"
            android:exported="false"
            android:label="@string/title_activity_root"
            android:theme="@style/Theme.EasyRide" />
        <activity
            android:name=".UIScreens.OTPVerifyScreen"
            android:exported="false"
            android:label="@string/title_activity_otpverify_screen"
            android:theme="@style/Theme.EasyRide" />
        <activity
            android:name=".UIScreens.LoginSignUpScreen"
            android:exported="false"
            android:label="@string/title_activity_login_sign_up_screen"
            android:theme="@style/Theme.EasyRide" />
        <activity
            android:name=".UIScreens.GetStartedScreen"
            android:exported="false"
            android:label="@string/title_activity_get_started_screen"
            android:theme="@style/Theme.EasyRide" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EasyRide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>